body {
    margin: 0;
    background-image: linear-gradient(to right top, #edb32a, #86c44c, #00c398, #00b7d9, #12a0eb);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
